<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset("assets/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset("assets/css/oneui.min.css") }}">
    <style type="text/css">
    body, #main-container{
        background-color: #fff;
        font-size: 12px;
    }
    .block-options li{
        vertical-align: middle
    }
    .block-options em.h5{
        color: #fff;
    }
    #userReport .block-content{
        padding: 0;
    }
    #userReport .text-muted {
        color: #ccc;
    }
    .items-push{
        border-bottom: 1px solid #ddd;
        position: relative;
    }
    .items-push .lab-logo{
        height: 80px;
        left: 10px;
        position: absolute;
    }
    .items-push .lab-logo img{
        max-height: 100%;
    }
    table.table{
        margin: 0;
    }
    </style>
</head>
<body>
    {# {{dump()}} #}
    <main id="main-container">
        <div class="content">
            <div class="items-push text-center">
                {% if visitData.labData.logo is not empty %}                    
                    <div class="lab-logo">
                        <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(img_path ~ visitData.labData.logo) }}">
                    </div>
                {% endif %}
                <h1 class="page-heading push-5">
                    {{visitData.labData.name}}
                </h1>
                <p class="push-15">
                    {{visitData.labData.address}}, {{visitData.labData.city}} - {{visitData.labData.pincode}}<br> 
                    Mobile: {{visitData.labData.mobile}} / Email: {{visitData.labData.email}}
                </p>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-xs-6">
                    <table class="table table-borderless">
                        <tr>
                            <td><strong>Name: </strong></td>
                            <td>{{ visitData.name }}</td>
                        </tr> 
                        <tr>
                            <td><strong>Age: </strong></td>
                            <td>{{ visitData.age }}</td>
                        </tr> 
                        <tr>
                            <td><strong>Gender: </strong></td>
                            <td>{{ visitData.gender == 'm' ? 'Male' : 'Female' }}</td>
                        </tr>
                        <tr>
                            <td><strong>Address: </strong></td>
                            <td>{{ visitData.address }}, {{ visitData.city }}</td>
                        </tr>                     
                    </table>
                </div>
                <div class="col-xs-6">
                    <table class="table table-borderless">
                        <tr>
                            <td><strong>Mobile: </strong></td>
                            <td>{{ visitData.mobile }}</td>
                        </tr> 
                        <tr>
                            <td><strong>Email: </strong></td>
                            <td>{{ visitData.email }}</td>
                        </tr>  
                        <tr>
                            <td width="100"><strong>Ref. Doctor: </strong></td>
                            <td>{{ visitData.doctor }}</td>
                        </tr>
                        <tr>
                            <td><strong>Date: </strong></td>
                            <td>{{ visitData.date }}</td>
                        </tr>                        
                    </table>
                </div>
            </div>
        </div>
        <div id="userReport" class="content">
            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <table class="table table-bordered table-striped js-dataTable-full dataTable no-footer" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                    <thead>
                        <tr role="row">
                            <th style="width:5%;"></th>
                            <th>Test Name</th>
                            <th style="width:20%;">Result</th>
                            <th>Normal Values</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test in visitData.tests %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td> 
                                <td>{{ test.name }}</td> 
                                <td>{{ test.actualValue }}</td> 
                                <td>{{ test.lowerValue }} - {{ test.higherValue }} {{ test.unit }}</td> 
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>    
        </div>
    </main>
</body>
</html>