{% extends is_granted('ROLE_ADMIN') ? "::backend_layout.html.twig" : "::user_backend_layout.html.twig" %}

{% block title %}Change Password :: Sugarlogger{% endblock %}

{% form_theme form _self %}
{% block form_row %}

    <div class="form-group">
        <div class="col-xs-12">
            <div class="form-material form-material-success">
                {{ form_widget(form) }}
                {{ form_label(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <!-- Page Content -->
    {{ include('::_frontend_base_header.html.twig') }}
    <br /><br /><br /><br /><br />
    <div class="content overflow-hidden">
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <!-- Register Block -->
                <div class="block block-themed animated fadeIn">
                    <div class="block-content block-content-full block-content-narrow">
                        <!-- Register Title -->
                        <h1 class="h2 font-w600 push-30-t push-5">Change Password</h1>
                        <p>Please fill the following details to change your password.</p>
                        <!-- END Register Title -->

                        <!-- Register Form -->
                        <!-- jQuery Validation (.js-validation-register class is initialized in js/pages/base_pages_register.js) -->
                        <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                        {{ form_start(form, {'attr': {'class': 'js-validation-change-pwd form-horizontal push-50-t push-50'}}) }}
                        {{ form_row(form.oldPassword) }}
                        {{ form_row(form.newPassword) }}

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-check push-5-r"></i> Save</button>
                                <a class="btn btn-sm btn-danger" href="{{ path(is_granted('ROLE_ADMIN') ? 'dashboard_render' : 'user_dashboard_render') }}"><i class="fa fa-close push-5-r"></i> Cancel</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <!-- END Register Form -->
                    </div>
                </div>
                <!-- END Register Block -->
            </div>
        </div>
    </div>
    <!-- END Page Content -->
    {{ include('::_frontend_base_footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    var TWIG = TWIG || {};
    TWIG.check_pwd = '{{ url('check_pwd') }}';
    </script>
    <!-- Page JS Plugins -->
    <script src="{{ asset('assets/js/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset("assets/js/pages/base_pages_change_pwd.js") }}"></script>
{% endblock %}
